:root {
  --title-color: #f1f1f1;
  --primary-color: #d22913;
  --background-color: #d8d8d8;
  --surface-color: #f0f0f0;
  --text-color: #333333;
  --secondary-text-color: #333333;
  --input-background: #e5e5e5;
  --input-border: #cccccc;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --title-color: #e1e1e1;
  --background-color: #192020;
  --surface-color: #293232;
  --text-color: #d1d1d1;
  --secondary-text-color: #d1d1d1;
  --input-background: #192020;
  --input-border: #3f3f3f;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 600px;
  margin: 0.4rem auto;
  padding: 2rem;
  background-color: var(--surface-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.title-main {
  background-color: var(--primary-color);
  color: var(--title-color);
  text-align: center;
  padding: 2.3rem;
  margin: 0 0 2rem;
  font-weight: 800;
  font-size: 2.8rem;
}

h1 {
  background-color: var(--background-color);
  padding: 1.1rem;
  border-radius: 14px 10px 0 0;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
  color: var(--primary-color );
  margin-bottom: 1rem;
}

h2 {
  background-color: var(--background-color);
  padding: 1.1rem;
  border-radius: 14px 10px 0 0;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: var(--primary-color );
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--secondary-text-color);
}

select,
input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--input-background);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

select:focus,
input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(210, 41, 19, 0.2);
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.1s ease;
  align-self: center;
}

button[type="submit"]:hover {
  background-color: #e60000;
  transform: translateY(-2px);
}

button[type="submit"]:active {
  transform: translateY(0);
}

.warning {
  font-size: 1.25rem;
  text-align: center;
  color: var(--primary-color );
  margin-top: 1rem;
}

.theme-switch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.theme-switch button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--theme-button-color);
  transition: transform 0.3s ease;
}

.theme-switch button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
	margin: 1rem;
	padding: 1rem;
  }

  h1 {
	font-size: 1.5rem;
  }

  .theme-switch {
	top: 0.5rem;
	left: 0.5rem;
  }
}
